**/.terraform
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vscode
**/.devcontainer
**/.github
**/node_modules
**/dist
**/out
**/obj
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
