@font-face {
  font-family: "Readex Pro";
  src: url("/fonts/ReadexPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Readex Pro";
  src: url("/fonts/ReadexPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.readex-pro-font {
  font-family: "Readex Pro", sans-serif;
}
