* {
  box-sizing: border-box;
}

body,
html {
  font-size: 18px;
  line-height: 1.555;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: #19191a;
}

.css-i51fkh {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.css-guf6my {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  border-bottom: 1px solid rgb(227, 231, 235);
  border-top-color: rgb(227, 231, 235);
  border-right-color: rgb(227, 231, 235);
  border-left-color: rgb(227, 231, 235);
  background-color: rgb(255, 255, 255);
  min-height: 48px;
  margin-bottom: 16px;
}

.css-d44mrb {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  text-transform: none;
  letter-spacing: 0px;
  border-radius: 4px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  font-size: 0.875rem;
  line-height: 1.25;
  color: rgb(23, 50, 77);
  padding: 0px;
  height: auto;
  min-width: auto;
  font-weight: 700;
}

.selfcare-border-top {
  border-top: 1px solid #e3e4e6;
}

.p-3 {
  padding: 16px !important;
}

h2.otnotice-section-header {
  font-size: 22px !important;
  font-weight: bold !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.footer-selfcare-description {
  width: 920px;
  text-align: center;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.selfcare-text {
  font-size: 14px;
  line-height: 1.5;
  color: #17324d;
}

.pl-2,
.px-2 {
  padding-left: 8px !important;
}

.pr-2,
.px-2 {
  padding-right: 8px !important;
}
