HOST="0.0.0.0"
NODE_ENV="development"
PORT=3000
COSMOSDB_CONTAINER_SERVICES_LIFECYCLE=services-lifecycle
COSMOSDB_CONTAINER_SERVICES_PUBLICATION=services-publication
COSMOSDB_ENDPOINT=https://<a-cosmos-endpoint>.documents.azure.com:443/
CMS_COSMOSDB_NAME=io-services
CMS_COSMOSDB_CONNECTION_STRING=aConnectionString
POSTGRES_DATABASE=reviewer
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=aSuperSecretPassword
POSTGRES_PORT=5432
POSTGRES_USER=reviewerusr
POSTGRES_SSL_ENABLED=false
TOPIC_SCHEMA=taxonomy
TOPIC_TABLE=topic