on:
  workflow_call:
    inputs:
      api_name:
        type: string
        required: true
    secrets:
      ARM_CLIENT_ID:
        required: true
      ARM_TENANT_ID:
        required: true
      ARM_SUBSCRIPTION_ID:
        required: true

jobs:
  apply:
    name: Terraform Apply
    runs-on: ubuntu-22.04
    environment: opex-prod-cd
    env:
      API_NAME: ${{ inputs.api_name }}
      DOCKER_IMAGE_TAG: sha256:eb3354b7e5c07e9557182828489fc0bf8092dd80886035429268d019250f5cd3
      TEMPLATE_DIR: azure-dashboard
      ARM_USE_OIDC: true
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
    permissions:
      id-token: write
      contents: read

    steps:

      - name: Checkout
        id: checkout
        uses: actions/checkout@1f9a0c22da41e6ebfa534300ef656657ea2c6707
        with:
          persist-credentials: false
          fetch-depth: 0

      - uses: pagopa/opex-dashboard-azure-action@ece3bc2b133be74cabb50aec14cdb9b8051b886f # action v1.1.2
        with:
          environment: prod
          api-name: $API_NAME
          config: .opex/$API_NAME/env/prod/config.yaml
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          docker-version: ${{ env.DOCKER_IMAGE_TAG }}
