# This workflow will perform the code review on each code change.
# It uses "actions/cache" and turborepo in order to perform tasks only on changed files.

name: "Code Review"

on:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]
    paths:
      - apps/**
      - packages/**
      - package.json
  workflow_dispatch:

jobs:
  code_review:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab #v3.5.2
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: pagopa/dx/.github/actions/node-setup@main
        env:
          TURBO_CACHE_DIR: .turbo

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: "Code review"
        run: pnpm run code-review

      - name: "Report App Backend Coverage"
        uses: davelosert/vitest-coverage-report-action@9fd25c0d0394bfd0ffa632777316402c2e5fb81f # v2.0.4
        if: ${{ hashFiles('./apps/app-backend/coverage/*.json') != '' }}
        with:
          name: "App Backend"
          working-directory: "./apps/app-backend"

      - name: "Report Backoffice Frontend Coverage"
        uses: davelosert/vitest-coverage-report-action@9fd25c0d0394bfd0ffa632777316402c2e5fb81f # v2.0.4
        if: ${{ hashFiles('./apps/backoffice/coverage/frontend/*.json') != '' }}
        with:
          name: "Backoffice Frontend"
          working-directory: "./apps/backoffice"
          vite-config-path: "vitest.config.react.ts"
          json-summary-path: "coverage/frontend/coverage-summary.json"
          json-final-path: "coverage/frontend/coverage-final.json"

      - name: "Report Backoffice Backend Coverage"
        uses: davelosert/vitest-coverage-report-action@9fd25c0d0394bfd0ffa632777316402c2e5fb81f # v2.0.4
        if: ${{ hashFiles('./apps/backoffice/coverage/backend/*.json') != '' }}
        with:
          name: "Backoffice Backend"
          working-directory: "./apps/backoffice"
          vite-config-path: "vitest.config.node.ts"
          json-summary-path: "coverage/backend/coverage-summary.json"
          json-final-path: "coverage/backend/coverage-final.json"

      - name: "Report Webapp Coverage"
        uses: davelosert/vitest-coverage-report-action@9fd25c0d0394bfd0ffa632777316402c2e5fb81f # v2.0.4
        if: ${{ hashFiles('./apps/io-services-cms-webapp/coverage/*.json') != '' }}
        with:
          name: "Webapp"
          working-directory: "./apps/io-services-cms-webapp"

      - name: "Report External Clients Coverage"
        uses: davelosert/vitest-coverage-report-action@9fd25c0d0394bfd0ffa632777316402c2e5fb81f # v2.0.4
        if: ${{ hashFiles('./packages/external-clients/coverage/*.json') != '' }}
        with:
          name: "External Clients"
          working-directory: "./packages/external-clients"

      - name: "Report Models Coverage"
        uses: davelosert/vitest-coverage-report-action@9fd25c0d0394bfd0ffa632777316402c2e5fb81f # v2.0.4
        if: ${{ hashFiles('./packages/io-services-cms-models/coverage/*.json') != '' }}
        with:
          name: "Models"
          working-directory: "./packages/io-services-cms-models"
