# This workflow will perform a diff between selfacare openapi saved locally and remote.

name: 'Diff openapi selfcare'

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  diff_json:
    runs-on: ubuntu-latest

    steps:
      - name: Check out current repo
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab #v3.5.2
        with:
          fetch-depth: 2

      - name: Download remote selfcare openapi JSON
        run: |
          curl -sSL https://selfcare.pagopa.it/developer/external/v2/ms-external-api.json -o openapi-selfcare-remote.json

      - name: Compare JSON files
        id: diff
        run: |
          jq --sort-keys . openapi-selfcare.json > openapi-selfcare-local-sorted.json
          jq --sort-keys . openapi-selfcare-remote.json > openapi-selfcare-remote-sorted.json

          echo "Confronto JSON..."
          if ! diff -u openapi-selfcare-local-sorted.json openapi-selfcare-remote-sorted.json > diff_openapi_selfcare_output.txt; then
            echo "has_diff_openapi_selfcare=true" >> $GITHUB_OUTPUT
          else
            echo "has_diff_openapi_selfcare=false" >> $GITHUB_OUTPUT
          fi

      - name: Upload diff artifact
        if: steps.diff.outputs.has_diff_openapi_selfcare == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: diff-openapi-selfcare
          path: diff_openapi_selfcare_output.txt
