# This workflow will perform a diff between selfacare openapi saved locally and remote.

name: 'OpenAPI Drift Detection'

on:
  schedule:
    - cron: '0 22 * * *'
  workflow_dispatch:

jobs:
  selfcare:
    name: Selfcare OpenAPI Drift Detection
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

    steps:
      # Exit with error if SLACK_WEBHOOK_URL is not set
      - name: Check Slack Webhook
        run: |
          if [ -z "$SLACK_WEBHOOK_URL" ]; then
            echo "SLACK_WEBHOOK_URL is not set. Please set the secret."
            exit 1
          fi

      - name: Download local Selfcare OpenAPI YAML
        run: |
          curl -sS https://raw.githubusercontent.com/pagopa/io-services-cms/refs/heads/feats/gha-diff-openapi-selfcare/apps/backoffice/openapi-selfcare.yaml -o openapi-selfcare-local.yaml

      - name: Download remote Selfcare OpenAPI YAML
        run: |
          curl -sS https://selfcare.pagopa.it/developer/external/v2/ms-external-api.yaml -o openapi-selfcare-remote.yaml

      - name: Compare files
        id: diff
        run: |

          echo "Compare Selfcare OpenAPI files..."
          if ! diff -u openapi-selfcare-local.yaml openapi-selfcare-remote.yaml > diff_openapi_selfcare_output.txt; then
            echo "has_diff_openapi_selfcare=true" >> $GITHUB_OUTPUT
            echo "Differences found"
          else
            echo "has_diff_openapi_selfcare=false" >> $GITHUB_OUTPUT
            echo "Differences NOT found"
          fi 

      - name: Upload diff artifact
        if: steps.diff.outputs.has_diff_openapi_selfcare == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: diff-openapi-selfcare
          path: diff_openapi_selfcare_output.txt

      - name: Selfcare OpenAPI drift notification
        if: steps.diff.outputs.has_diff_openapi_selfcare == 'true'
        id: drift_openapi_selfcare_notify
        uses: pagopa/dx/.github/actions/slack-notification@main
        with:
          id: 'Selfcare OpenAPI drift detected'
          title: ':x: Selfcare OpenAPI Drift Detection'
          text: 'Differences were found in Selfcare OpenAPI between local and remote version.\n Check the workflow:\n URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}'
          slack_webhook_url: ${{ env.SLACK_WEBHOOK_URL }}
