name: Opex Dashboard openapi - Services cms

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'apps/io-services-cms-webapp/openapi.yaml'
      - '.github/workflows/opex_api_services_cms.yml'
      - '.opex/api_services_cms/**'

jobs:
  call-opex-workflow:
    uses: ./.github/workflows/call_opex_api.yml
    with:
      api-name: api_services_cms
      environment: prod
    secrets:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
