name: Opex Dashboard openapi - App Backend

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'apps/app-backend/api/internal.yaml'
      - '.github/workflows/opex_api_services_app_backend.yml'
      - '.opex/api_services_app_backend/**'

jobs:
  call-opex-workflow:
    uses: ./.github/workflows/call_opex_api.yml
    with:
      api-name: api_services_app_backend
      environment: prod
    secrets:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
