# Please refer to src/config.ts for the actual configuration

AzureWebJobsStorage=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;

INTERNAL_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;

# JIRA configuration
JIRA_NAMESPACE_URL=https://pagopa.atlassian.net
JIRA_PROJECT_NAME=IEST
JIRA_TOKEN=
JIRA_USERNAME=
JIRA_CONTRACT_CUSTOM_FIELD=customfield_10365
JIRA_DELEGATE_EMAIL_CUSTOM_FIELD=customfield_10383
JIRA_DELEGATE_NAME_CUSTOM_FIELD=customfield_10382
JIRA_ORGANIZATION_CF_CUSTOM_FIELD=customfield_10364
JIRA_ORGANIZATION_NAME_CUSTOM_FIELD=customfield_10381

# JIRA Legacy board
LEGACY_JIRA_PROJECT_NAME=IES

# PostgreSQL configuration
REVIEWER_DB_HOST=
REVIEWER_DB_NAME=
REVIEWER_DB_PASSWORD=
REVIEWER_DB_PORT=
REVIEWER_DB_SCHEMA=
REVIEWER_DB_TABLE=
REVIEWER_DB_USER=

# CLIENT SECRET CREDENTIAL configuration
AZURE_CLIENT_SECRET_CREDENTIAL_CLIENT_ID=
AZURE_CLIENT_SECRET_CREDENTIAL_SECRET=
AZURE_CLIENT_SECRET_CREDENTIAL_TENANT_ID=

# APIM configuration
AZURE_APIM= 
AZURE_APIM_RESOURCE_GROUP= 
AZURE_SUBSCRIPTION_ID=

# Cosmos DB configuration
COSMOSDB_CONNECTIONSTRING=
COSMOSDB_URI=
COSMOSDB_NAME=
COSMOSDB_KEY=
COSMOSDB_CONTAINER_SERVICES_LIFECYCLE=
COSMOSDB_CONTAINER_SERVICES_PUBLICATION=
COSMOSDB_CONTAINER_SERVICES_HISTORY=

# Queue configuration
REQUEST_REVIEW_QUEUE=
REQUEST_PUBLICATION_QUEUE=
REQUEST_HISTORICIZATION_QUEUE=
REQUEST_SYNC_LEGACY_QUEUE=

# Service pagination configuration
PAGINATION_DEFAULT_LIMIT=
PAGINATION_MAX_LIMIT=

# Legacy data
LEGACY_COSMOSDB_CONNECTIONSTRING=
LEGACY_COSMOSDB_NAME=
LEGACY_COSMOSDB_URI=
LEGACY_COSMOSDB_KEY=
LEGACY_COSMOSDB_CONTAINER_SERVICES=
LEGACY_COSMOSDB_CONTAINER_SERVICES_LEASE=

# List of service ids for which quality control will be bypassed
SERVICEID_QUALITY_CHECK_EXCLUSION_LIST=