{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureWebJobs.ActivationsSyncFromLegacy.Disabled": true,
    "AzureWebJobs.IngestionActivationWatcher.Disabled": true,
    "AzureWebJobs.IngestionServiceHistoryWatcher.Disabled": true,
    "AzureWebJobs.IngestionServiceLifecycleWatcher.Disabled": true,
    "AzureWebJobs.IngestionServicePublicationWatcher.Disabled": true,
    "AzureWebJobs.LegacyServiceWatcher.Disabled": true,
    "AzureWebJobs.OnRequestDeletion.Disabled": true,
    "AzureWebJobs.OnRequestDetail.Disabled": true,
    "AzureWebJobs.OnRequestHistoricization.Disabled": true,
    "AzureWebJobs.OnRequestPublication.Disabled": true,
    "AzureWebJobs.OnRequestReview.Disabled": true,
    "AzureWebJobs.OnRequestReviewLegacy.Disabled": true,
    "AzureWebJobs.OnRequestServicesHistoryIngestionRetry.Disabled": true,
    "AzureWebJobs.OnRequestServicesLifecycleIngestionRetry.Disabled": true,
    "AzureWebJobs.OnRequestServicesPublicationIngestionRetry.Disabled": true,
    "AzureWebJobs.OnRequestSyncCms.Disabled": true,
    "AzureWebJobs.OnRequestSyncLegacy.Disabled": true,
    "AzureWebJobs.OnRequestValidation.Disabled": true,
    "AzureWebJobs.SelfcareGroupWatcher.Disabled": true,
    "AzureWebJobs.ServiceDetailLifecycleWatcher.Disabled": true,
    "AzureWebJobs.ServiceDetailPublicationWatcher.Disabled": true,
    "AzureWebJobs.ServiceHistoryWatcher.Disabled": true,
    "AzureWebJobs.ServiceLifecycleWatcher.Disabled": true,
    "AzureWebJobs.ServicePublicationWatcher.Disabled": true,
    "AzureWebJobs.ServiceReviewChecker.Disabled": true,
    "AzureWebJobs.ServiceReviewLegacyChecker.Disabled": true,
    "AzureWebJobs.ServiceTopicsIngestor.Disabled": true,
    "EH_SC_CONNECTIONSTRING": "<eventhub-selfcare-connection-string>",
    "EH_SC_USERGROUP_NAME": "sc-usergroups",
    "EH_SC_USERGROUP_CONSUMER_GROUP": "io-cms-sync",
    "INTERNAL_STORAGE_CONNECTION_STRING": "UseDevelopmentStorage=true",
    "SYNC_GROUP_POISON_QUEUE": "sync-group-poison",
    "REQUEST_REVIEW_QUEUE": "request-review",
    "REQUEST_PUBLICATION_QUEUE": "request-publication",
    "REQUEST_HISTORY_QUEUE": "request-history",
    "REQUEST_HISTORICIZATION_QUEUE": "request-historicization",
    "REQUEST_VALIDATION_QUEUE": "request-validation",
    "REQUEST_DELETION_QUEUE": "request-deletion",
    "REQUEST_DETAIL_QUEUE": "request-detail"
  }
}
